doctype html
html
  head
    title Diario  
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/diary.png')
    link(rel="stylesheet" href="/stylesheets/styles.css")

    meta(charset='utf-8')
  body
    .wrapper
      block content
    footer.w3-container.w3-pink
      p.w3-center &copy; 2025 - Projeto EW