extends layout

block content
  .w3-card
    header.w3-container.w3-light-blue
      h1 Página dos alunos 
  .w3-container 
    ul.w3-ul 
      li 
        a(href='/alunos' class="w3-button w3-block") Listar alunos