doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/student.png')
    meta(charset='utf-8')
  body
    block content
    footer.w3-container.w3-light-blue
      address 
        span Gerado por EngWeb2025 em #{date} 