extends layout

block content
    .w3-card-4
        header.w3-container.w3-light-blue
            h2 Editar Contrato

        a.w3-button.w3-blue(href="/") Voltar
                    
        form.w3-container(method="POST")
            fieldset
                legend Dados
                label ID
                input.w3-input.w3-round(type="number" name="_id" readonly value= contrato._id)
                label Anuncio
                input.w3-input.w3-round(type="text" name="nAnuncio" value= contrato.nAnuncio)
                label Tipo de Procedimento
                input.w3-input.w3-round(type="text" name="tipoprocedimento" value= contrato.tipoprocedimento)
                label Objeto de Contrato
                input.w3-input.w3-round(type="text" name="objectoContrato" value= contrato.objectoContrato)
                label Data de Publicação
                input.w3-input.w3-round(type="text" name="dataPublicacao" value= contrato.dataPublicacao pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="O data deve ter o seguinte formato \"dd/mm/aaaa\"")
                label Data de Celebração do Contrato
                input.w3-input.w3-round(type="text" name="dataCelebracaoContrato" value= contrato.dataCelebracaoContrato pattern="\d{2}/\d{2}/\d{4}" title="O data deve ter o seguinte formato \"dd/mm/aaaa\"")
                label Preço Contratual
                input.w3-input.w3-round(type="number" name="precoContratual" value= contrato.precoContratual title="O ID deve ser um número.")
                label Prazo de Execução
                input.w3-input.w3-round(type="number" name="prazoExecucao" value= contrato.prazoExecucao title="O ID deve ser um número.")
                label NIPC - Entidade Comunicante
                input.w3-input.w3-round(type="number" name="NIPC_entidade_comunicante" value= contrato.NIPC_entidade_comunicante title="O ID deve ser um número.")
                label Entidade Comunicante
                input.w3-input.w3-round(type="text" name="entidade_comunicante" value= contrato.entidade_comunicante)
                label Fundamentação
                input.w3-input.w3-round(type="text" name="fundamentacao" value= contrato.fundamentacao)
            br
            button.w3-btn.w3-blue.w3-mb-2(type="submit") Editar