doctype html
html
  head
    meta(charset="UTF-8")
    title= titulo
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/contrato.png')
  body
    block content

  footer.w3-container(class=`w3-light-blue`)
    h5 EngWeb2025 - TPC6 - a104618 #{data} 