doctype html
html
  head
    title Livros
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/livro.png')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
  header.w3-container.w3-light-blue
    h1 📚 Catálogo de Livros

  main
    block content

  footer.w3-container.w3-light-blue
    address Gerado por EngWeb em #{date}
