doctype html
html
  head
    title App Cinema 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/imagen.png')
    meta(charset='utf-8')
  body
    block content
